* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.image-section {
    background-image: url(./sign-up\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    font-size: 6rem;
}

.logo img {
    height: 200px;
}

a {
    color: white;
}

.attribution {
    text-align: center;
    font-size: 1.2rem;
}

.text-section {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}

.intro>p {
    margin-left: 30px;
}

.input-section {
    background-color: white;
    flex: 1;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.input-section>p {
    margin-left: 40px;
    padding: 10px;
}

.input-section>form {
    margin: 10px;
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.one,
.two,
.three,
.four,
.five,
.six {
    padding: 10px;
    margin: 20px;
    width: 30%;
}

input {
    border: 1px solid rgb(122, 117, 117);
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
}

input:hover {
    background-color: bisque;
}

.footer {
    flex: 1;
}

button {
    padding: 20px 40px;
    border: 1px solid black;
    cursor: pointer;
    margin: 50px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #596D48;
    color: white;
}

.footer>p {
    margin-left: 50px;
}